.btn-primary{
    background-color: #e3f2fd;
    border-color:#e3f2fd;
}

.btn-primary:hover{
    background-color: #48a0af;
    border-color: #48a0af;
}
/* Left side nav css */
a.nav-link{
    color: #48a0af;
}

/* Footer custom css */
.page-footer{
    background-color: #e3f2fd;
    color: #FFFFFF;
}

.page-footer a{
    color: #FFFFFF;
}

.about-body{
    padding-right: 10px;
}