{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/open-iconic-bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/custom.css' %}">

{% include "pages/navbar.html" %}
<br/>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"> <!-- left column start -->
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">All resources</a>
                    <a class="nav-link" href="#">Taxonomy</a>
                    <a class="nav-link" href="#">Training and Tutorial</a>
                </nav>
            </div> <!-- left column end -->
            <div class="col-10">
                <h2><b> About RhizoServer </b></h2>
                <br/>
                <b>Last modified:</b> April 26, 2021
                <br/>
                <br/>
                <p> 
                    Rhizobiales Server (RhizoServer) is a comprehensive ressource for rRNA sequences and taxonomy of Rhizobiales.
                    RhizoServer is a online database containing curated rRNA sequences, structures and functions of Rhizobiales 
                    which contains bacteria capable of plant symbiosis and pathogenic bacterias.This makes such bacteria 
                    interesting ressource for the study of interations between plant and bacteria, plant health,
                    plant nutrition and sustainable soil fertility management.
                </p>
                <br/>
                <p>
                    RhizoServer has been developped by <a href="https://orcid.org/0000-0003-4005-177X">Anicet Ebou</a> during his thesis.
                </p>
                <br/>
                <br/>
                <h2> Funding </h2>
                <p>
                    Do you want to sponsor or gives fund to this project, please contact Anicet Ebou at anicet dot ebou at gmail dot com.
                </p>
            </div>
        </div>
    </div>
</body>
<br/>
{% include "pages/footer.html" %}