{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/open-iconic-bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/custom.css' %}">

<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Our ressources</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#">Rhizobiales</a>
          </li>
          <li>
            <a href="#">Glomeromycotina</a>
          </li>
          <li>
            <a href="#">Rhizoserver Handbook</a>
          </li>
          <li>
            <a href="#">Training and tutorials</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Tools</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#">BLAST</a>
          </li>
          <li>
            <a href="#">RhizoClassifier</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Submit data</a>
          </li>
          <li>
            <a href="#">Explore</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <img src="{% static 'pages/rhizoserver.png' %}" width="300" height="auto" alt="RhizoServer">
    <br/>
    © 2019-2021 <a href="#">RhizoServer</a> | <a href="#"> License </a> | <a href="#"> Privacy Notice </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
