<!-- Attaching static files -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/open-iconic-bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/custom.css' %}">

{% include "pages/navbar.html" %}
<br/>
<br/>
<body>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-2"> <!-- left column start -->
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">All resources</a>
                    <a class="nav-link" href="#">Rizobiales database</a>
                    <a class="nav-link" href="#">Taxonomy</a>
                </nav>
            </div> <!-- left column end -->
            <div class="col-8"> <!-- center column start -->
                <h1> Welcome to the RhizoServer</h1>
                <p>RhizoServer is a online database containing curated rRNA sequences, structures and functions of Rhizobiales and Glomerocytina, which are respectively bacteria capable of plant symbiosis and arbusuclar fungis. A prominent feature of theses microorganism is their capacity of establishing symbiotic relationship with plants. This makes such bacteria and fungi an interesting ressource for the study of interations between plant and bacteria or fungi, plant nutrition and sustainable soil fertility management.</p>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card text-center border-0">
                                <h5 class="card-header border-0">Download</h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        Download Rhizoserver data
                                    </p>
                                    <span class="oi oi-icon-name" title="data-transfer-download" aria-hidden="true"></span>
                                    <a href="#" class="btn btn-primary">
                                        Download
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card text-center border-0">
                                <h5 class="card-header border-0">Analyze</h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        Find a tool to analyze your data
                                    </p>
                                    <span class="oi oi-icon-name" title="graph" aria-hidden="true"></span>
                                    <a href="#" class="btn btn-primary">
                                        Analyze
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                       <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Rhizobiales classification</h5>
                              <p class="card-text">Explore Rhizobiales phylogeny and classification using our tools</p>
                              <a href="#" class="btn btn-primary">More</a>
                           </div>
                       </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">Glomeromycota classification</h5>
                              <p class="card-text">Know more on arbuscular fungi by exploring their phylogeny and classification here.</p>
                              <a href="#" class="btn btn-primary">More</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div> <!-- center column end -->
            <div class="col-2"> <!-- right column start -->
                <div class="card text-center w-100">
                     <div class="card-header">
                         RhizoNews
                     </div>
                     <div class="card-body">
                         <h5 class="card-title">Rhizoserver v0.1 is out!</h5>
                         <p class="card-text">Rhizoserver is a online database containing...</p>
                         <a href="#" class="btn btn-primary">More</a>
                     </div>
                     <div class="card-footer text-muted">
                          2 days ago
                     </div>
                </div>
                <br/>
                <div class="card text-center">
                     <div class="card-body">
                         <h5 class="card-title">New evidence...</h5>
                         <p class="card-text">A well known journal has recently published...</p>
                         <a href="#" class="btn btn-primary">More</a>
                     </div>
                     <div class="card-footer text-muted">
                          4 days ago
                     </div>
                </div>
            </div> <!-- right column end -->
         </div>
    </div>
</body>
<br/>
<br/>
{% include "pages/footer.html" %}
