<!-- Attaching static files -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/open-iconic-bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/custom.css' %}">

{% include "pages/navbar.html" %}
<br/>
<br/>
<body>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-2"> <!-- left column start -->
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">All resources</a>
                    <a class="nav-link" href="#">Taxonomy</a>
                    <a class="nav-link" href="#">Training and Tutorial</a>
                </nav>
            </div> <!-- left column end -->
            <div class="col-10"> <!-- center column start -->
                <h3><b>Welcome to RhizoServer</b></h3>
                <p>
                    Welcome to the Rizobiales database at RhizoServer.org, an interactive site that collects and shares informations related to Rhizobiales.
                </p>
                <br/>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card text-center bg-light h-100">
                            <h5 class="card-header border-0">Download</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Download Rhizoserver data
                                </p>
                                <span class="oi oi-icon-name" title="data-transfer-download" aria-hidden="true"></span>
                                <br/>
                                <br/>
                                <a href="#" class="btn btn-primary">
                                    Download
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center bg-light h-100">
                            <h5 class="card-header border-0">Analyze</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Find a tool to analyze your data
                                </p>
                                <span class="oi oi-icon-name" title="graph" aria-hidden="true"></span>
                                <br/>
                                <br/>
                                <a href="#" class="btn btn-primary">
                                    Analyze
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center bg-light h-100">
                            <h5 class="card-header border-0">Submit</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Submit your data to RhizoServer
                                </p>
                                <span class="oi oi-icon-name" title="graph" aria-hidden="true"></span>
                                <br/>
                                <br/>
                                <a href="#" class="btn btn-primary">
                                    Submit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
            </div> <!-- center column end -->
         </div>
    </div>
</body>
{% include "pages/footer.html" %}
