{% load static %}
<link rel="stylesheet" type="text/css"  href="{% static 'pages/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'pages/open-iconic-bootstrap.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'pages/custom.css' %}">
<link rel="icon"       type="image/png" href="{% static 'icon.png' %}">

<!--The navigation bar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'pages/rhizoserver.png' %}" width="125" height="auto" alt="RhizoServer">
        </a>
        <form action="{% url 'search_results' %}" method="get" class="d-flex">
            <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-primary" type="submit"> Search </button>
        </form>
    </div>
</nav> <!-- navbar end -->
